/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

 body {
    font-family: 'Nunito Sans', sans-serif;
 }

[x-cloak] {
    display: none;
}

.main-nav {
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(255, 255, 255, 0.4);
    &__link {
        border-radius: 8px;
    }
}

.bg-blurry {
    backdrop-filter: saturate(180%) blur(5px);
    background: rgba(255, 255, 255, 0.4);
}

.container {
    padding-left: 7%;
    padding-right: 7%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 768px) {
      padding-left: 2%;
      padding-right: 2%;
    }
}

.pulse {
   width: 22.4px;
   height: 22.4px;
   border-radius: 50%;
   background: #f5f9f9;
   box-shadow: 0 0 0 0 rgba(26, 185, 243, 0.5);
   animation: pulse-animation 2.5s infinite linear;
   position: relative;
   margin: auto;
}

.pulse:before,
.pulse:after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: inherit;
   box-shadow: 0 0 0 0 rgba(71, 191, 255, 0.5);
   animation: inherit;
   animation-delay: -0.5s;
}

.pulse:after {
   animation-delay: -1s;
}

@keyframes pulse-animation {
   100% {
      box-shadow: 0 0 0 44.8px #0000;
   }
}

.neutral-range {
   appearance: none;
   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
   background: transparent; /* Otherwise white in Chrome */
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
   }
   &:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
   }
   &::-ms-track {
      width: 100%;
      cursor: pointer;
    
      /* Hides the slider so custom styles can be added */
      background: transparent; 
      border-color: transparent;
      color: transparent;
   }
 }

.neutral-range::-webkit-slider-thumb {
   appearance: none;
   -webkit-appearance: none;
   box-shadow: 1px 1px 1px rgb(74 222 128);
   border: 1px solid rgb(14 165 233);
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #FFFFFF;
   cursor: pointer;
   margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
 }
 
.neutral-range::-moz-range-thumb {
   box-shadow: 1px 1px 1px rgb(74 222 128);
   border: 1px solid rgb(14 165 233);
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #FFFFFF;
   cursor: pointer;
 }
 
.neutral-range::-ms-thumb {
   box-shadow: 1px 1px 1px rgb(74 222 128);
   border: 1px solid rgb(14 165 233);
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #FFFFFF;
   cursor: pointer;
 }

 .neutral-range::-webkit-slider-runnable-track {
   height: 6px;
   cursor: pointer;
   background: rgb(14 165 233);
   border-radius: 10px;
 }
 
 .neutral-range:focus::-webkit-slider-runnable-track {
   background: rgb(14 165 233);
 }
 
.neutral-range::-moz-range-track {
   height: 6px;
   cursor: pointer;
   background: rgb(14 165 233);
   border-radius: 10px;
 }
 
.neutral-range::-ms-track {
   height: 6px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 16px 0;
   color: transparent;
 }
.neutral-range::-ms-fill-lower {
   background: rgb(14 165 233);
   border-radius: 10px;
 }
.neutral-range:focus::-ms-fill-lower {
   background: rgb(14 165 233);
 }
.neutral-range::-ms-fill-upper {
   background: rgb(14 165 233);
   border-radius: 10px;
 }
.neutral-range:focus::-ms-fill-upper {
   background: rgb(14 165 233);
 }